@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
  font-family: 'Lato', sans-serif !important;
}
.newsList{
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.news-card small {
  color: #969696;
}
.news-card h3 {
  margin: 5px 0 5px;
  font-size: 16px;
  line-height: 1.4;
}
.news-card {
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.18);
}

.news-card p {
  font-size: 13px;
}
.news-card .btn {
  margin-bottom: 15px;
  background: none;
  color: #333;
  border: none;
  padding: 0px;
}
.news-card .btn:hover,
.news-card .btn:focus {
  background: none;
  color: #333;
  outline: none;
}
.news-panel h1 {
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
  font-size: 18px;
  background: #f3f3f3;
}
.landing-block.left .row .col-md-6:first-child {
  order: 1;
}
/* .landing-block.left .row .col-md-6:first-child {
  text-align: left
} */
.landing-block img {
  width: 100%;
}


.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.form-ctrl-content {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.Select-clear-zone {
  display: none;
}

.thead, .year {
  font-weight: bold
}
.red {
  color: red;
}
.historical-price-data {
  font-size: 13px;
  text-align: center;
}

.historical-row-red {
  color: red;
}

.historical-row-green {
  color: green;
}

.app {
  padding: 81px 0 0;
}
.align-items-center {
  display: flex;
  align-items: center;
}
.landing-block .row {
  margin-bottom: 30px;
}
.landing-block .row .col-md-6 {
  flex: 0 0 50%;
}
.landing-block h3 {
  font-size: 44px;
  font-weight: 900;
  color: #7cca64;
}
.landing-block p {
  font-size: 24px;
  font-weight: 300;
}
.landing-content {
  max-width: 400px;
  margin: 0 auto;
}
.common-heading {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 900;
  color: #7cca64;
  margin: 0 0 10px;
}
.with-bg {
  background: #f3f3f3;
}
.common-container {
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.14);
  margin-bottom: 30px;
}
.common-splitter {
  color: #cacaca;
  font-size: 18px;
}
.react-datepicker-wrapper, .react-datepicker__input-container {
  width: 100%;
  vertical-align: middle;
}
.react-datepicker-wrapper .form-control {
  height: 40px;
}

.addition-detail .row{
  margin-bottom: 15px;
}
.addition-detail .row h5{
  margin: 0;
}

.addition-detail .row span{
  font-size: 12px;
  font-weight: 200;

}
.option-chain-table .col-xs-2 span {
  padding: 5px 10px;
  display: block;
}
.item-active .col-xs-2 span {
  background: #fbf3c9;
  display: block;
}
.option-chain-table {
  margin-top: 30px;
  border: 1px solid rgba(51, 51, 51, 0.28);
  border-left: none;
}
.option-chain-table .row {
  margin: 0px;
}
.option-chain-table .col-xs-6,
.option-chain-table .col-md-12,
.option-chain-table .col-xs-5,
.option-chain-table .col-xs-1 {
  padding: 0px;
}
.option-chain-table .col-xs-2 {
  padding: 0;
  text-align: center;
  border-bottom: 1px solid rgba(51, 51, 51, 0.28);
  border-left: 1px solid rgba(51, 51, 51, 0.28);
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.option-header span {
  font-weight: 700;
}
.option-header-type .col-xs-5 {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid rgba(51, 51, 51, 0.28);
  border-left: 1px solid rgba(51, 51, 51, 0.28);
}
.option-header-type .col-xs-5:first-child {
  border-right: 1px solid rgba(51, 51, 51, 0.28);
}
@media screen and (max-width: 400px) and (min-width: 300px){
  .stock-info-contain{
    width: 100%;
    float:left;
  }
}
@media screen and (max-width: 767px) {
  .header-custom .navbar-right {
    padding: 0 15px;
  }
  .small-block {
    display: block;
  }
}
